---
layout: default
---
{% assign oss = site.data.product %}
<div class="oss docs ui middle aligned column masthead">
  <div class="ui container">
    <h1>{{ oss.name }}</h1>
  </div>
</div>

<div class="oss docs main ui vertical segment">
  <div class="ui dividing left rail">
    <div class="ui vertical following fluid accordion text menu">
      {% assign sorted_cats = site.categories | sort %}
      {% for category in sorted_cats %}
      {% assign sorted_posts = category[1] | reversed %}
      <div class="item">
        <a class="title active"><i class="dropdown icon"></i> <strong>{{ category[0] | capitalize }}</strong></a>
      </div>
      <div class="content menu">
        {% for post in sorted_posts %}
       	<div class="item"><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  {% if page.title %}
  <h2 class="ui dividing header">{{ page.title }}</h2>
  {% endif %}
  {{ content }}

</div>
